/***********************Tag selectors************************/
body{
  background-image: url("https://i.imgur.com/wQAROsV.jpeg");
  color: white;
  background-color: black;
}

/**********************Class selectors*************************/
.slider{
  backdrop-filter: blur(30px);
  text-align: right;
  margin: 50px 0;
  padding: 50px 0;
}
.slider-logo{
  position: absolute;
  top: 40px;
  left: 50px;
}
.slider-line{
  position: absolute;
  border: none;
  border-top: 1.5px solid grey;
  width: 500px;
  top: 50px;
  left: 150px;
}
.slider-link{
  text-decoration: none;
  color: white;
  margin: auto 10px;
  width: 20px;
  height: auto;
  padding-bottom: 50px;
}
.slider-link:hover{
  border-bottom: 1px solid white;
}

.index-text{
  top: 300px;
  left: 100px;
  position: absolute;
  width: 500px;
  height: auto;
  text-align: justify;
  font-family: "Monserrat", sans-serif;
}
.index-sub{
  font-size: 30px;
}
.index-title{
  font-size: 100px;
  text-align: left;
  margin: 50px auto;
}


.explore-btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 100px;
  font-family: Georgia;
  color: #000000;
  font-size: 30px;
  background: #ffffff;
  padding: 70px 20px 70px 20px;
  text-decoration: none;

  position: absolute;
  right: 50px;
  bottom: 50px;
}

.explore-btn:hover {
  background: #d4efff;
  text-decoration: none;
}
